

.hero {
    padding: 80px 0 60px;
    text-align: center;
}



.hero-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.hero-subtitle {
    font-size: 19px;
    color: #666;
    line-height: 1.8;
}


.meeting-image {
    width: 100%;
    max-width: 1110px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin:auto;
    padding-top: 58px;
}


/* Mission Section */

.mission-section {
    
    margin-top: 141px;
}

.mission-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    color: #1a1a1a;
}

.mission-text {
    font-size: 19px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Coders Section */
.coders-section {
    background: #F4F7FA;
    padding: 100px 0;
}

.coders-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}


.coder-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.coder-img:nth-child(1),
.coder-img:nth-child(4) {
    height: 275px;
}

.coder-img:nth-child(2),
.coder-img:nth-child(3) {
    height: 273px;
}

.coder-img:nth-child(2),
.coder-img:nth-child(4) {
        margin-top: 42px;
}


.coders-text {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
    
}


/* Team Section */
.team-section {
    padding: 100px 0;
    text-align: center;
}

.team-heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.team-subtitle {
    font-size: 19px;
    color: #666;
    margin-bottom: 60px;
    line-height: 1.8;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.team-card {
    text-align: center;
}

.team-image {
    width: 100%;
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.team-name {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #1a1a1a;
}

.team-role {
    font-size: 17px;
    color: #999;
}

