/* ================================================================================================= --> */
/*                                         LOGIN AND SIGN UP --> */
/* ================================================================================================= --> */




.login-container{
    background-color: var(--color-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    color: var(--primary-color);
}

.login-info{
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;
    margin: 125px auto 0px ;
}

.login-title{
    font-size: 60px;
    font-weight: var(--roboto-Bold-700);
    line-height: 65px;
    letter-spacing: -2px;
}

.login-desc{
    opacity: 70%;
    font-size: 19px;
    line-height: 32px;
}

.form-container{
    width: 350px;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    padding: 31px 25px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 1px 0px 25px 5px rgba(231, 233, 237, 0.636);
    gap: 26px;
    margin-bottom: 39px;
    
}

.email-container, .password-container, .first-name-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: flex-start;
}

.btn-sign-in{
    margin-top: 50px;
    background-color: var(--color-blue);
    padding: 14px;
    border-radius: 8px;
    color: var(--secondary-color);
    font-weight: var(--roboto-Bold-700);
    font-size: 17px;
    line-height: 32px;
}
.label{
    font-weight: var(--roboto-Bold-700);
    font-size: 15px;
    line-height: 26px;
}
input{
    border-radius: 8px;
    padding: 14px 20px;
    border: 1px solid var(--color-light);
}

.text-info{
    text-align: center;
    font-size: 17px;
    line-height: 29px;
}

.link{
    color: var(--color-blue);

}

.sign-up-heigth{
    height: auto;
    padding-bottom: 206px;
}

/* ================================================================================================= --> */
/*                                         LOGIN AND SIGN UP END --> */
/* ================================================================================================= --> */