

/* =========================================================== */
                         /* Support */
/* =========================================================== */





.support-section.backcolor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 17px;
    line-height: 29px;
    font-family: var(--roboto-Regular-400);
    color: var(--primary-color);
}




.opacity{
    opacity: 70%;
}



.desc-items{
    line-height: 50px;
    position: relative;
    padding-left: 20px;
}



.desc-items::before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-black);
    left: 0px;
    bottom: 24px;
    position: absolute;
    opacity: 100%;
}


.title{
    font-weight: var(--roboto-Bold-700);
}

.support-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 109px 478px 0px 460px; */
    margin: 109px auto 39px auto;
    width: 80%;
    gap: 44px;
    /* margin-right: 35px; */
}




.support-title-text{
    font-weight: var(--roboto-Bold-700);
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
}



.support-desc{
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    /* margin-right: 35px; */
    margin-left: 30px;
}

.support-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 60%;
    margin: 39px auto 210px auto;
}

.article{
    padding-left: 140px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* margin-left: 100px; */
    /* text-indent: 40px; */
    align-items: center;
    /* margin: 40px 322px 210px 420px; */
    width: 100%;
    gap: 43px;
    /* margin: 0 auto; */
    text-align: justify;

}

.support-information{
    width: 85%;
}

.license, .security, .embedded-content,
.changes-about-terms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* =========================================================== */
                         /* Support end*/
/* =========================================================== */